/* #########################################################
###                         SHARED
########################################################## */

body {
    background: #b39f8bae;
    padding: 0;
    margin: 0;
    width: 100%;
}

h1 {
    font-family: Cormorant Garamond;
    font-size: 48px;
    text-decoration: underline;
    margin: 0.5em 0;
    color: #5A5550;
}

h2 {
    font-size: 25px;
    color: #5A5550;
}

/* #########################################################
###                         HEADER
########################################################## */

header {
    background-color: rgba(255, 255, 255, 0.499);
    width: 100%;
    padding: 0.3em;
    text-align: center;
    color: #5A5550;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* #########################################################
###                         CONTENT
########################################################## */

#main-container {
    width: 1100px;
    margin: 3em auto;
    background-color: #CDBEAF;
    color: #5A5550;
}

#main-container section {
    background: rgba(255, 255, 255, 0.499);
    margin: 2em auto;
    padding: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#main-container h2 {
    font-size: 30px;
    text-decoration: underline;
    color: #5A5550;
}

#main-container h3 {
    font-size: 25px;
    text-decoration: underline;
    color: #554f4a;
}

#main-container p {
    font-size: 20px;
}

#main-container ul {
    font-size: 18px;
}

#ccm_img {
    display: flex;
    gap: 2em;
    justify-content: center
}

#ccm_img img {
    height: 300px;
}

@media (max-width: 900px) {
    #main-container {
        width: 88%;
    }

    #ccm_img img {
        height: inherit;
        width: 100%;
    }
}

#Grenouille {
    display: flex;
    gap: 1em;
}

#W3school {
    display: flex;
    gap: 1em;
}

#MDN {
    display: flex;
    gap: 1em;
}

#chat_button {
    padding: 1em;
    background: #5A5550;
    color: white;
    border: 0;
    margin-bottom: 1em;
    cursor: pointer;
}

#chat_container {
    display: flex;
}

#fact_picture {
    min-width: 20%;
}

@media (max-width: 900px) {
    #chat_container {
        flex-direction: column;
        justify-content: center;
    }

    #fact_picture {
        width: 100%;
    }
}